absl-py>=0.15
alt-model-checkpoint==1.0.1
astor==0.8.0
bleach>=3.3.0
cycler==0.10.0
imageio==2.5.0
keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.1.0
Markdown==3.3.4
matplotlib>=3.3.0
mock==3.0.5
networkx==2.3
numpy==1.19.5
# Pillow==6.2.0
protobuf==3.13.0
pyparsing==2.4.0
python-dateutil==2.8.0
PyWavelets==1.0.3
PyYAML==5.1
scikit-image==0.15.0
scipy==1.5.4
six==1.15.0
tensorboard==2.4.0
tensorboardX==1.7
tensorflow==2.4.0
termcolor==1.1.0
Werkzeug==1.0.1
